// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Grand Hotel',sans-serif;} // font header
.fi {font-family: 'zk-icons',sans-serif;} // font icon

// body
@bb: #f3ebc6; // body background

// colors
@c1: #333;
@c2: #3e643d;
@c3: #97c000;
@c4: #c00600;
@c5: #9e9476;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 14px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1140px;
@content-width-md: 960px;
@content-width-sm: 720px;
@content-width-xs: 100%;
@content-padding: 10px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";