.selectboxit-container {
	position: relative;
	display: block;
	.selectboxit {
		.form-control;
		display: block;
		position: relative;
		overflow: hidden;
		&:before{
			.fi;
			content: '\e810';
			position: absolute;
			top: 0;
			right: 0;
			width: 34px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			color: @c2;
			background: #fff;
		}
		.selectboxit-text {
			display: block;
			white-space: nowrap;
			min-width: 0!important;
			max-width: none!important;
		}
	}
	.selectboxit-options {
		.rul;
		.border-radius(6px);
		display: none;
		position: absolute;
		background: #fff;
		z-index: 9999999999999;
		min-width: 0!important;
		max-width: none!important;
		width: 100%!important;
		li {
			.rli;
			a {
				display: block;
				padding: 5px 20px;
				&:after{
					content: '\00a0';
				}
			}
		}
	}
}
.icheckbox, .iradio {
	.border-radius(6px);
	display: inline-block;
	width: 26px;
	height: 26px;
	text-align: center;
	color: @c2;
	background: #fff;
	&:before{
		.fi;
		display: none;
		content: '\e823';
		position: absolute;
		left: 0;
		top: 0;
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
	&.checked {
		&:before{
			display: block;
		}
	}
	&.disabled {
		color: #ddd;
		background: #ccc;
		&, * {
			cursor: not-allowed;
		}
	}
	input {
		margin: 0;
		padding: 0;
		border: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		ledt: 0;
	}
}
.iradio {
	.border-radius(50%);
	&:before{
		font-size: 26px;
		content: '\e821';
	}
}
.ui-datepicker {
	.border-radius(6px);
	text-align: center;
	background: #fff;
	.ui-datepicker-header {
		margin: 10px 10px 0;
		.ui-datepicker-prev, .ui-datepicker-next {
			position: relative;
			float: left;
			width: 10%;
			text-indent: -9999px;
			&:before{
				.fi;
				content: '\e811';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-indent: 0;
			}
		}
		.ui-datepicker-next {
			float: right;
			&:before{
				content: '\e812';
			}
		}
		.ui-datepicker-title {
			float: left;
			width: 80%;
		}
	}
	.ui-datepicker-calendar {
		margin: 0 10px 10px;
		th,td {
			font-size: 13px;
			border: 1px;
		}
		tbody {
			a, span {
				display: block;
				padding: 3px 4px;
				text-decoration: none;
				background: #f1f1f1;
			}
			a {
				color: #fff;
				background: @c3;
			}
		}
	}
}
#main-header {
	margin: 0 0 40px;
	.inner {
		.clearfix;
		padding: 0 0 25px;
		border-bottom: 1px dashed @c5;
	}
	.logo {
		float: left;
		width: 290px;
		height: 175px;
		padding: 35px 32px 0 30px;
		margin: 0 45px 0 0;
		text-align: center;
		background: url(../images/bg/01.png) no-repeat;
		@media @md {
			
		}
		@media @sm {
			
		}
		@media @xs {
			width: 100%;
			background: none;
			height: auto;
			padding: 20px 0;
			img {
				max-width: 250px;
				margin: auto;
			}
		}
	}
}
.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			&:before{
				top: 5px;
			}
		}
	}
}
.mod_custom-user {
	text-align: right;
	float: left;
	width: 785px;
	padding: 23px 0 19px;
	margin: 0 0 18px;
	line-height: 36px;
	border-bottom: 1px dashed @c5;
	@media @md {
		width: 605px;
	}
	@media @sm {
		width: 365px;
	}
	@media @xs {
		width: 100%;
		text-align: center;
	}
	.user {
		position: relative;
		display: inline-block;
		padding: 0 0 0 50px;
		&:before{
			.fi;
			position: absolute;
			left: 0;
			top: 3px;
			content: '\e805';
			color: @c3;
			margin: 0 15px 0 0;
			font-size: 31px;
			line-height: 1;
		}
		&:after{
			content: '|';
			margin: 0 0 0 7px;
			@media @xs {
				display: none;
			}
		}
		mark {
			.fh;
			font-size: 23px;
			margin: 0 0 0 8px;
		}
	}
	nav {
		display: inline-block;
		margin: 0 0 0 15px;
		@media @xs {
			margin: 20px 0;
			display: block;
		}
		a {
			.btn;
			color: @c1;
			background: rgba(0,0,0,0.1);
			&:hover{
				background: rgba(0,0,0,0.2);
			}
		}
	}
}
.mod_custom-card {
	position: relative;
	width: 300px;
	float: left;
	line-height: 1.2;
	padding: 5px 0 0 38px;
	@media @sm {
		width: 365px;
	}
	@media @xs {
		text-align: center;
		width: 100%;
		&:before{
			display: none;
		}
	}
	&:before{
		.fi;
		content: '\e808';
		position: absolute;
		left: 3px;
		top: 7px;
		line-height: 1;
		color: @c3;
		font-size: 25px;
	}
	.mod-title {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 29px;
		letter-spacing: 0.01em;
		line-height: 1;
		margin: 0 0 15px;
	}
	p {
		margin: 0 0 5px;
	}
	strong, em {
		color: @c2;
	}
}
.mod_menu-card, .mod_menu-add {
	.clearfix;
	float: left;
	width: 785px;
	@media @md {
		width: 100%;
	}
	@media @sm {
		width: 100%;
	}
	@media @xs {
		width: 100%;
	}
	ul {
		.rul;
		float: right;
		margin: 0 0 0 -35px;
		@media @xs {
				float: none;
				margin: 0;
				text-align: center;
			}
		li {
			.rli;
			float: left;
			margin: 0 0 0 35px;
			@media @md {
				margin-bottom: 5px;
			}
			@media @sm {
				margin-bottom: 5px;
			}
			@media @xs {
				display: inline-block;
				float: none;
				margin-bottom: 5px;
			}
			a {
				.btn;
				position: relative;
				height: 50px;
				line-height: 50px;
				font-size: 15px;
				padding: 0 26px;
				text-align: left;
				[class^="icon-"] {
					float: left;
					font-size: 24px;
					margin: 0 7px 0 -2px;
				}
				.icon-eye {
					font-size: 30px;
					margin: 0 4px 0 -8px;
				}
				&:before{
					.fi;
					.border-radius(50%);
					.transition(0.2s);
					content: '\e809';
					position: absolute;
					left: -14px;
					top: 50%;
					margin: -14px 0 0;
					height: 28px;
					line-height: 28px;
					width: 28px;
					text-align: center;
					color: #fff;
					text-shadow: 1px 1px 2px fade(#000,20%);
					background: @c3;
				}
				&:hover{
					&:before{
						background: @c5;
					}
				}
			}
		}
	}
}
.mod_menu-card {
	width: 485px;
	@media @md {
		width: 305px;
		float: right;
	}
	@media @sm {
		width: 100%;
		margin-top: 20px;
	}
	@media @xs {
		width: 100%;
		margin-top: 20px;
	}
}
.mod_custom-table {
	header {
		.clearfix;
		margin: 0 0 20px;
		.mod_title {
			float: left;
			text-transform: uppercase;
			margin: 0 40px 15px 0;
			&:before{
				.fi;
				content: '\e815';
				float: left;
				color: @c3;
				font-weight: normal;
				margin: 2px 15px 0 0;
				font-size: 26px;
			}
		}
		&.on {
			.toggle {
				.close {
					display: inline-block;
				}
				.open {
					display: none;
				}
			}
		}
		.toggle {
			padding: 9px 0 0;
			a {
				position: relative;
				display: inline-block;
				padding: 0 0 0 35px;
				color: @c1;
				&:hover{
					&:before{
						color: @c2;
					}
				}
				&:before{
					.fi;
					content: '\e810';
					position: absolute;
					top: -1px;
					left: 0;
					color: @c3;
					font-size: 24px;
					line-height: 1;
				}
				&.close {
					display: none;
					&:before{
						content: '\e813';
					}
				}
			}
		}
		.print {
			float: right;
			margin: -7px 0 0;
			a {
				.btn;
				height: 50px;
				line-height: 50px;
				padding: 0 25px;
				background: @c3;
				&:hover{
					background: darken(@c3,5%);
				}
				&:before{
					.fi;
					content: '\e800';
					float: left;
					margin: 0 12px 0 0;
					font-size: 25px;
				}
			}
		}
		.info {
			float: left;
			padding: 8px 0 0;
			ul {
				.rul;
				li {
					.rli;
					display: inline-block;
					vertical-align: middle;
					margin: 0 8px 0 0;
					&:before{
						position: static;
						content: '|';
						font-size: 15px;
						margin: 0 22px 0 0;
					}
					&:first-child {
						&:before{
							display: none;
						}
					}
				}
			}
			[class^="icon-"] {
				display: inline-block;
				vertical-align: middle;
				&:before{
					margin: -2px 7px 0 0;
					color: @c3;
					font-size: 26px;
				}
			}
			mark {
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				font-weight: 800;
				color: @c2;
			}
		}
	}
	.table {
		position: relative;
		width: 100%;
		margin: 0 0 20px;
		border-bottom: 3px solid @c5;
		.thead {
			background-image: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
			background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
			background-image: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
			border-bottom: 1px solid @c5;
			&>div {
				vertical-align: bottom;
				font-weight: 600;
			}
		}
		.content_left, .content_right {
			display: inline-block;
			vertical-align: top;
			margin: 0 -4px 0 0;
		}
		.content_left {
			width: 60.6%;
		}
		.content_right {
			width: 39.4%;
		}
		.date,
		.name,
		.part,
		.farm,
		.diagnosis,
		.acute,
		.chir,
		.medication,
		.notice,
		.detail,
		.photo,
		.video,
		.list_id,
		.list_name,
		.list_date,
		.list_part,
		.list_diagnosis,
		.list_acute,
		.list_chir,
		.list_notice,
		.list_count
		 {
			display: inline-block;
			vertical-align: top;
			padding: 15px 10px;
			margin: 0 -4px 0 0;
		}
		.date {
			padding-left: 20px;
			width: 18.5%;
		}
		.name {
			width: 20.5%;
		}
		.part {
			width: 17%;
		}
		.farm {
			width: 37.5%;
		}
		.diagnosis {
			width: 25%;
		}
		.acute {
			width: 11%;
		}
		.chir {
			width: 8%;
		}
		.medication {
			width: 36%;
		}
		.notice {
			width: 48%;
		}
		.detail {
			width: 17%;
		}
		.photo {
			width: 50%;
		}
		.video {
			width: 50%;
		}
		.list_id {
			width: 11.5%;
			padding-left: 20px;
		}
		.list_name {
			width: 12.5%;
		}
		.list_date {
			width: 13.5%;
		}
		.list_part {
			width: 9.5%;
		}
		.list_diagnosis {
			width: 15.5%;
		}
		.list_acute {
			width: 6.5%;
		}
		.list_chir {
			width: 5%;
		}
		.list_notice {
			width: 16.6%;
		}
		.list_count {
			text-align: right;
			padding-right: 20px;
			width: 10%;
		}
		.items {
			.item {
				position: relative;
				border-top: 1px dashed @c5;
				&:first-of-type, &.more {
					border-top: none;
				}
				&.on, &.allon {
					.diagnosis, .medication, .notice {
						.ellipsis {
							white-space: normal;
							max-height: 9999px;
							-webkit-line-clamp: none;
						}
					}
					.photo, .video, .edit {
						display: inline-block;
					}
					.detail {
						.toggle {
							color: @c3;
							&:hover{
								color: @c2;
							}
							&:before{
								content: '\e813';
							}
						}
					}
				}
			}
			.photo, .video, .edit {
				display: none;
			}
			.date,
			.name,
			.part,
			.farm,
			.diagnosis,
			.acute,
			.chir,
			.medication,
			.notice,
			.detail,
			.list_id,
			.list_name,
			.list_date,
			.list_part,
			.list_diagnosis,
			.list_acute,
			.list_chir,
			.list_notice,
			.list_count
			 {
				padding: 17px 10px 12px;
				font-size: 15px;
				p {
					margin: 0;
				}
			}
			.ellipsis {
				max-height: 19px;
				line-height: 19px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				-webkit-line-clamp: 1;
			}
			.date {
				font-style: italic;
				white-space: nowrap;
				padding-left: 20px;
			}
			.name {
				color: @c2;
				font-weight: 600;
			}
			.part {
				color: @c4;
				font-style: italic;
			}
			.farm {
				font-weight: 700;
				color: @c4;
			}
			.diagnosis {
				.ellipsis {
					width: 150px;
					font-style: italic;
				}
			}
			.acute, .list_acute {
				padding-top: 12px;
				padding-bottom: 10px;
				.icon-exclamation {
					font-size: 26px;
					line-height: 1;
					color: @c4;
				}
			}
			.chir, .list_chir {
				padding-top: 12px;
				padding-bottom: 10px;
				.icon-tint {
					font-size: 25px;
					line-height: 1;
					color: @c3;
				}
			}
			.medication {
				.ellipsis {
					width: 140px;
					font-style: italic;
				}
			}
			.notice {
				.ellipsis {
					width: 190px;
					font-style: italic;
				}
			}
			.detail {
				text-align: center;
				padding-top: 12px;
				padding-bottom: 10px;
				.toggle {
					font-size: 26px;
					line-height: 1;
					text-decoration: none;
					&:before{
						.fi;
						content: '\e810';
					}
					&:hover{
						color: @c3;
					}
				}
			}
			.photo, .video {
				padding: 60px 25px 50px 42px;
				.title {
					color: @c2;
					text-transform: uppercase;
					font-weight: 800;
					margin: 0 8px 17px;
					font-size: 21px;
					line-height: 1;
				}
				ul {
					.rul;
					&.on {
						li {
							&:nth-child(4) {
								.more {
									display: none;
								}
							}
							&:nth-child(n+5) {
								display: inline-block; 
							}
						}
						.less {
							display: block;
						}
					}
					li {
						.rli;
						display: inline-block;
						width: 50%;
						margin: 0 -4px 0 0;
						padding: 8px;
						vertical-align: middle;
						text-align: center;
						&:nth-child(4) {
							.more {
								display: block;
							}
						}
						&:nth-child(n+5) {
							display: none;   
						}
						.more {
							.transition(0.2s);
							display: none;
							position: absolute;
							z-index: 1;
							top: 8px;
							left: 8px;
							bottom: 11px;
							right: 8px;
							text-align: center;
							padding: 20px 10px 0;
							background: #dcdd9a;
							cursor: pointer;
							&:hover{
								background: @c2;
								color: #fff;
								&:after{
									color: #fff;
								}
							}
							&:after{
								.fi;
								.transition(0.2s);
								content: '\e818';
								display: block;
								color: @c2;
								font-size: 28px;
								line-height: 1;
								margin: -3px 0 0;
							}
						}
						a {
							.transition(color 0.2s);
							position: relative;
							display: inline-block;
							text-decoration: none;
							color: #fff;
							font-size: 28px;
							text-shadow: 1px 1px 2px fade(#000,30%);
							&:hover{
								img {
									-webkit-opacity: 0.9;
									-moz-opacity: 0.9;
									opacity: 0.9;
									filter:alpha(opacity=90);
								}
							}
							img {
								display: block;
								max-height: 100px;
								width: auto!important;
								margin: auto 0;
							}
						}
					}
					.less {
						display: none;
						margin: 0 8px;
						font-weight: 700;
						text-align: center;
						color: @c2;
						&:before{
							.fi;
							content: '\e813';
							font-weight: normal;
							margin: 0 10px 0 0;
							cursor: pointer;
							color: @c2;
						}
						span {
							cursor: pointer;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
			.photo {
				position: relative;
				background: -moz-linear-gradient(left,  rgba(158,148,118,0.2) 0%, rgba(158,148,118,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(158,148,118,0.2) 0%,rgba(158,148,118,0) 100%);
				background: linear-gradient(to right,  rgba(158,148,118,0.2) 0%,rgba(158,148,118,0) 100%);
				&:before{
					position: absolute;
					content: '';
					left: 32px;
					top: 0;
					border: 15px solid transparent;
					border-top-color: @bb;
				}
			}
			.video {
				ul {
					li {
						a {
							&:before{
								.fi;
								z-index: 1;
								content: '\e81b';
								position: absolute;
								top: 50%;
								left: 50%;
								height: 50px;
								line-height: 50px;
								width: 50px;
								margin: -25px 0 0 -25px;
								color: fade(#fff,80%);
								font-size: 32px;
							}
						}
					}
				}
			}
			.edit {
				position: absolute;
				right: 22px;
				bottom: 40px;
				a {
					.btn;
					height: 48px;
					line-height: 48px;
					padding: 0 26px;
					font-size: 15px;
					background: @c3;
					&:before{
						.fi;
						float: left;
						content: '\e801';
						font-size: 24px;
						margin: 0 16px 0 -4px;
					}
					&:hover{
						background: darken(@c3,5%);
					}
				}
			}
			.list_id {
				font-style: italic;
			}
			.list_name {
				font-weight: 700;
				color: @c2;
			}
			.list_date {
				font-style: italic;
			}
			.list_part {
				font-style: italic;
				mark {
					color: @c4;
				}
			}
			.list_diagnosis {
				font-style: italic;
			}
			.list_acute {
				
			}
			.list_chir {
				
			}
			.list_notice {
				font-style: italic;
			}
			.list_count {
				padding-right: 20px;
				font-weight: 700;
			}
		}
	}
}
.mod_custom-filter {
	margin: 0 0 65px;
	.mod_title {
		text-transform: uppercase;
		margin: 0 0 25px;
		@media @xs {
			margin-bottom: 50px;
		}
		&:before{
			.fi;
			content: '\e80f';
			float: left;
			color: @c3;
			font-weight: normal;
			margin: 2px 15px 0 0;
			font-size: 26px;
		}
	}
	.form {
		.box-shadow(0 0 6px fade(#000,30%));
		position: relative;
		padding: 50px 32px 42px 20px;
		margin: 0 0 30px;
		background: lighten(@bb,3%);
		.title {
			.box-shadow(0 0 6px fade(#000,30%));
			position: absolute;
			top: -38px;
			right: 0;
			height: 38px;
			background: lighten(@bb,3%);
			&:after {
				content: '';
				position: absolute;
				top: 6px;
				left: -36px;
				width: 50px;
				height: 38px;
				background: lighten(@bb,3%);
				-ms-transform: skewX(-40deg);
				-webkit-transform: skewX(-40deg);
				transform: skewX(-40deg);
			}
			&:before{
				.box-shadow(0 0 6px fade(#000,30%));
				content: '';
				position: absolute;
				left: -32px;
				top: 0;
				height: 38px;
				width: 19px;
				background: lighten(@bb,3%);
				-ms-transform: skewX(-40deg);
				-webkit-transform: skewX(-40deg);
				transform: skewX(-40deg);
			}
			span {
				position: relative;
				z-index: 1;
				display: block;
				padding: 28px 80px 0 23px;
				margin: 0 0 0 -15px;
				height: 50px;
				font-size: 21px;
				line-height: 1;
				text-transform: uppercase;
				background: lighten(@bb,3%);
				&:before{
					.fi;
					content: '\e810';
					position: relative;
					top: -1px;
					font-size: 15px;
					margin: -1px 7px 0 0;
					color: @c2;
				}
				&:after{
					.fi;
					.border-radius(50%);
					position: absolute;
					content: '\e807';
					top: 16px;
					right: 20px;
					width: 44px;
					height: 44px;
					line-height: 40px;
					padding: 4px 0 0;
					font-size: 23px;
					text-align: center;
					color: #fff;
					text-shadow: 1px 1px 1px fade(#000,40%);
					background: @c3;
				}
			}
		}
	}
	.cols {
		.clearfix;
		.col {
			float: left;
			padding: 0 25px;
			width: 33.3333%;
			@media @md {
				width: 50%!important;
			}
			@media @sm {
				width: 100%!important;
			}
			@media @xs {
				width: 100%!important;
			}
			&:nth-child(1) {
				width: 31%;
				.form_row {
					label {
						width: 22%;
					}
					.content {
						width: 78%;
					}
					&.date {
						label {
							width: 37%;
						}
						.content {
							width: 63%;
						}
					}
				}
			}
			&:nth-child(2) {
				width: 36%;
				.form_row {
					label {
						width: 36%;
					}
					.content {
						width: 64%;
					}
				}
			}
			&:nth-child(3) {
				width: 33%;
				.form_row {
					label {
						width: 29%;
					}
					.content {
						width: 71%;
					}
				}
			}
		}
	}
	.form_row {
		.clearfix;
		margin: 0 0 20px;
		label {
			float: left;
			width: 33.3333%;
			padding: 10px 10px 0 0;
		}
		.content {
			position: relative;
			float: left;
			width: 66.6666%;
		}
		&.date {
			.content {
				padding-right: 45px;
				&:before{
					.fi;
					content: '\e814';
					position: absolute;
					top: 2px;
					right: 2px;
					font-size: 30px;
					line-height: 1;
					color: @c2;
				}
			}
		}
	}
	.submit {
		padding: 14px 0 0;
		button {
			position: relative;
			height: 70px;
			line-height: 70px;
			width: 100%;
			font-weight: 800;
			font-size: 24px;
			&:hover{
				&:before{
					background: @c5;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				position: absolute;
				content: '\e807';
				top: 16px;
				left: -18px;
				width: 36px;
				height: 36px;
				line-height: 32px;
				padding: 4px 0 0;
				font-size: 18px;
				text-align: center;
				color: #fff;
				text-shadow: 1px 1px 1px fade(#000,40%);
				background: @c3;
			}
		}
	}
}
#page-footer {
	padding: 50px 0 100px;
	.inner {
		border-top: 1px dashed @c5;
		padding: 40px 0;
		color: darken(@c5,20%);
	}
	.copy {
		float: left;
		position: relative;
		padding: 0 0 0 153px;
		font-size: 13px;
		line-height: 1.2;
		@media @xs {
			padding: 0;
			margin: 0 0 30px;
			float: none;
			text-align: center;
		}
		&:before{
			.fi;
			content: '\e806';
			position: absolute;
			left: 0;
			top: 50%;
			font-size: 132px;
			line-height: 1;
			margin: -76px 0 0;
			@media @xs {
				position: static;
				display: block;
				margin: -45px 0;
				font-size: 150px;
			}
		}
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 11px;
		@media @xs {
			float: none;
			clear: both;
			text-align: center;
		}
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 15px;
			margin: 0 2px 0 10px;
			@media @xs {
				float: none;
				display: block;
				margin: 5px auto;
				width: 30px;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	color: #fff;
	background: @c5;
	a {
		color: #fff;
	}
	p {
		display: inline-block;
		vertical-align: center;
		width: 80%;
		float: left;
		margin: 0 -4px 0 0;
	}
	nav {
		width: 20%;
		display: inline-block;
		vertical-align: center;
		padding: 0 0 0 20px;
		a {
			.btn;
			padding: 0;
			display: block;
			background: fade(#000,25%);
			&:hover{
				background: fade(#000,30%);
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(6px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @c3;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80e';
			font-size: 28px;
		}
		&:hover{
			background: darken(@c3,5%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}