nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e812';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	border-top: 1px solid @c5;
	border-bottom: 2px solid @c5;
	th,td{
		padding:6px 10px;
		border: 0;
		border-top: 1px dashed @c5;
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: fade(#000,4%);
	}
	th,thead td{
		font-weight: bold;
		background: fade(#000,10%)!important;
	}
	tfoot td{
		background: fade(#000,10%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c3;
	padding: 0 3px;
	color: #fff;
}
.pagehub {
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span {
		.transition(0.2s);
		.border-radius(50%);
		display: inline-block;
		vertical-align: middle;
		color: @c2;
		border: 1px solid @c3;
		padding: 0;
		width: 50px;
		height: 50px;
		line-height: 48px;
		text-decoration: none;
		font-weight: 800;
		font-size: 18px;
	}
	a {
		&:hover {
			color: #fff;
			background: @c3;
		}
	}
	span.pagenav {
		color: #fff;
		background: @c3;
	}
	.pagenav-ico {
		width: 36px;
		height: 36px;
		line-height: 30px;
	}
	span.pagenav-ico {
		cursor: default;
		border-color: transparent;
		color: fade(@c2,40%);
		background: fade(@c2,30%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 3px;
	background: @c5;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c3;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c2;
	}
	.warning,.error{
		background: @c4;
	}
}
