@font-face {
  font-family: 'zk-icons';
  src: url('../font/zk-icons.eot?14762236');
  src: url('../font/zk-icons.eot?14762236#iefix') format('embedded-opentype'),
       url('../font/zk-icons.woff?14762236') format('woff'),
       url('../font/zk-icons.ttf?14762236') format('truetype'),
       url('../font/zk-icons.svg?14762236#zk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zk-icons';
    src: url('../font/zk-icons.svg?14762236#zk-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zk-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-print:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cow-full:before { content: '\e803'; } /* '' */
.icon-cow:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-logo:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-arr-right:before { content: '\e80a'; } /* '' */
.icon-arr-left:before { content: '\e80b'; } /* '' */
.icon-arr-down:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-arr-up:before { content: '\e80e'; } /* '' */
.icon-align-left:before { content: '\e80f'; } /* '' */
.icon-down-open:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-up-open:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-align-justify:before { content: '\e815'; } /* '' */
.icon-eye-1:before { content: '\e816'; } /* '' */
.icon-exclamation:before { content: '\e817'; } /* '' */
.icon-dot-3:before { content: '\e818'; } /* '' */
.icon-left-dir:before { content: '\e819'; } /* '' */
.icon-right-dir:before { content: '\e81a'; } /* '' */
.icon-play-circled:before { content: '\e81b'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-align-center:before { content: '\e81d'; } /* '' */
.icon-align-right:before { content: '\e81e'; } /* '' */
.icon-list:before { content: '\e81f'; } /* '' */
.icon-tint:before { content: '\e820'; } /* '' */
.icon-dot:before { content: '\e821'; } /* '' */
.icon-dot-2:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */