
.icon-print:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cow-full:before { content: '\e803'; } /* '' */
.icon-cow:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-logo:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-arr-right:before { content: '\e80a'; } /* '' */
.icon-arr-left:before { content: '\e80b'; } /* '' */
.icon-arr-down:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-arr-up:before { content: '\e80e'; } /* '' */
.icon-align-left:before { content: '\e80f'; } /* '' */
.icon-down-open:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-up-open:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-align-justify:before { content: '\e815'; } /* '' */
.icon-eye-1:before { content: '\e816'; } /* '' */
.icon-exclamation:before { content: '\e817'; } /* '' */
.icon-dot-3:before { content: '\e818'; } /* '' */
.icon-left-dir:before { content: '\e819'; } /* '' */
.icon-right-dir:before { content: '\e81a'; } /* '' */
.icon-play-circled:before { content: '\e81b'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-align-center:before { content: '\e81d'; } /* '' */
.icon-align-right:before { content: '\e81e'; } /* '' */
.icon-list:before { content: '\e81f'; } /* '' */
.icon-tint:before { content: '\e820'; } /* '' */
.icon-dot:before { content: '\e821'; } /* '' */
.icon-dot-2:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */